body{
    background-color: #679b9c;
    font-family: 'open sans', 'helvetica nue', Arial, Helvetica, sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #254b5e;
}
div{
    color: #5f0442;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #999999;
    background-color: #ffeadb;
    border-radius: 15px;
    border: solid 2px #999999;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #C0C2C3;
}
table{
    text-align: center;
}